:root {
    --white: #ffffff;
    --ns-yellow: #ffc917;
    --ns-dark-blue: #003082;
    --ns-light-blue: #0063d3;
    --ns-gray: #cfcfcf;
    --ns-button-green: #00aa89;
    --ns-background-gray: #e6e6e9;
    --ns-border: #c3c3c3;
    --text-color: #ffffff;
    --required-not-filled: #ff0000;
    --invalid-color: rgba(255, 0, 0, 0.397);
}

* {
    font-family: Roboto;
    box-sizing: border-box;
}

/* MARK: Typografie */
@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto.ttf);
}

h2,
#pageIndex {
    padding: 0.5em;
}

header {
    margin: auto;
    color: var(--ns-dark-blue);
    background-color: var(--ns-yellow);
}

legend,
p {
    color: var(--ns-dark-blue);
    font-size: 1.1em;
    font-weight: 500;
    padding: 0.1em;
    padding-top: 1em;
    text-align: left;
}

/* MARK: Body elements */
body {
    background-color: var(--ns-background-gray);
    margin: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;
    background-color: var(--ns-yellow);
}

header h1 {
    margin: 0;
    color: var(--ns-dark-blue);
    padding-left: 0.5em;
}

header img {
    width: 6em;
    height: auto;
}

/* MARK: Form elements */
label {
    display: block;
    padding: 1em;
    margin: 0.05em;
    border-style: none;
    border-width: 1px;
    border-color: var(--ns-border);
    border-radius: 4px;
    background-color: var(--white);
    color: var(--ns-dark-blue);
}

input {
    border-style: none;
    border-width: 1px;
    border-radius: 4px;
    outline: none;
    padding: 10px;
    background-color: var(--ns-background-gray);
    width: 100%;
    height: 3.5em;
}

form {
    display: block;
    position: relative;
    height: auto;
}

fieldset fieldset {
    border-style: none;
    background-color: var(--white);
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    border-radius: 5px;
    transition: opacity 0.3s ease;
    box-shadow: 3px 0 0 0 var(--ns-yellow);
}

/* MARK: Form elements, specific types  */
label:has(input[type="radio"]) {
    display: inline-flex;
    width: 49%;
    border: 1px solid var(--ns-dark-blue);
}

label:has(input[type="radio"]:checked) {
    background-color: var(--ns-dark-blue);
    color: var(--text-color);
}

input[type="radio"] {
    display: none;
}

input[type="checkbox"] {
    width: 1em;
    height: 1em;
    accent-color: var(--ns-button-green);
    color: var(--text-color);
}

label:has(input[required])::before {
    content: " *";
    color: var(--required-not-filled);
    position: absolute;
    margin-left: -10px;
}

label:has(input[required][type="radio"])::before {
    margin-left: -25px;
    margin-top: -55px;
}

input[type="text"]:invalid:not(:placeholder-shown) {
    color: var(--text-color);
    background-color: var(--invalid-color);
    width: 100%;
}

input:valid:not(:placeholder-shown) {
    border: 2px solid var(--ns-button-green);
    width: 100%;
}

input:valid::before {
    display: inline-block;
    content: " ✔";
    color: var(--ns-button-green);
    font-size: 1em;
    position: absolute;
    margin-left: -30px;
}

body:has(input[name="testament"][value="nee"]:checked) #NederlandWonend,
body:has(input[name="testament"][value="ja"]:checked) #buitenLandWonend,
body:has(input[name="kinderen"][value="ja"]:checked) #eerderOverledenField,
body:has(input[name="getrouwd"][value="ja"]:checked) #notariëleField,
body:has(input[name="testament"][value="ja"]:checked) #notarisInfo,
body:has(input[name="nummerKeuze"][value="BSN"]:checked) label:has(input[name="BSNGemachtigde"]) ,
body:has(input[name="nummerKeuze"][value="Becon"]:checked) label:has(input[name="BeconNummer"]) ,
body:has(input[name="nummerKeuze"][value="Protocol"]:checked) label:has(input[name="protoColnummer"]) {
    opacity: 1;
    transition: opacity 0.3s ease, max-height 0.5s ease-out;
    pointer-events: all;
    max-height: fit-content;
}

body:has(input[name="testament"][value="ja"]:checked) #NederlandWonend,
body:has(input[name="testament"][value="nee"]:checked) #buitenLandWonend,
body:has(input[name="kinderen"][value="nee"]:checked) #eerderOverledenField,
body:has(input[name="getrouwd"][value="nee"]:checked) #notariëleField,
body:has(input[name="testament"][value="nee"]:checked) #notarisInfo,
body:has(input[name="nummerKeuze"][value="BSN"]:checked) label:has(input[name="BeconNummer"],input[name="protoColnummer"]) ,
body:has(input[name="nummerKeuze"][value="Becon"]:checked) label:has(input[name="BSNGemachtigde"],input[name="protoColnummer"]) ,
body:has(input[name="nummerKeuze"][value="Protocol"]:checked) label:has(input[name="BSNGemachtigde"],input[name="BeconNummer"]) {
    opacity: 0;
    pointer-events: none;
    max-height: 0;
    transition: opacity 0.1s ease, max-height 0.5s ease-out;
    padding: 0;
}

/* MARK: Gesloten Elementen */
.activeJs fieldset:has(:invalid)>div:has(p), .activeJs fieldset:has(:invalid)>div:has(legend), label:has(input[class="nummerGemachtigde"]) {
    opacity: 0.3;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

/* MARK: Verborgen Elementen */
.hidden {
    display: none;
}

.hidden-fieldset {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s, max-height 0.3s;
}

.hidden-fieldset.show {
    opacity: 1;
}

/* MARK: Pagination */
.pagina {
    opacity: 1;
    pointer-events: all;
    height: auto;
    position: relative;
}

.pagination {
    display: none;
}

.activeJs .pagination {
    display: flex;
}

.activeJs .pagina {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    transition: opacity 0.3s ease;
}

.pagina.active {
    opacity: 1;
    pointer-events: all;
    height: auto;
    position: relative;
    border-style: none;
}

.activeJs .pagination {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    color: var(--ns-dark-blue);
    background-color: var(--white);
    border-top: 2px solid var(--ns-gray);
}

.pagination button {
    width: 6em;
    height: 3em;
    border: 1px solid var(--ns-dark-blue);
    border-radius: 4px;
    color: var(--ns-dark-blue);
}

/* MARK: Media queries */
@media (min-width: 650px) {

    h1,
    h2,
    p {
        grid-column: 2;
    }

    fieldset fieldset {
        grid-column: 2;
    }

    .pagina {
        display: grid;
        grid-template-columns: 7em 1fr 7em;
    }

    .first-three {
        display: flex;
        gap: 0.2em;
    }

    .first-three:has(input[type="text"]) {
        padding: 1em;
    }

    .first-three label:has(input[type="text"]) {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .first-three label:nth-child(-n+3) {
        display: inline-flex;
        flex-direction: column;
        width: 33%;
        box-sizing: border-box;
    }

    #onderdeel1 fieldset:first-of-type {
        display: block;
    }
}

@media (max-width: 465px) {
    label:has(input[type="radio"]) {
        width: 100%;
    }
}